<div class="sidemenu">
  <% if (req.userTitle !== 'guest') { %>
  <h2 class="title is-3">
    <a href="/company/view/<%= company.id %>"><%= company.name %></a>
  </h2>
  <aside class="menu">
    <p class="menu-label">customers</p>
    <ul class="menu-list">
      <li><a href="/company/<%= company.id %>/customerssearch"><i class="fa fa-book paddingRight"></i> customers</a></li>
      <li><a href="/company/<%= company.id %>/customerssearch"><i class="fa fa-search paddingRight"></i> search customers</a></li>
      <li><a href="/customer/create/<%= company.id %>"><i class="fa fa-plus paddingRight"></i> add customer</a></li>
    </ul>
    <p class="menu-label">projects</p>
    <ul class="menu-list">
      <li><a href="/company/<%= company.id %>/projectlist?page=1"><i class="fa fa-book paddingRight"></i> projects</a></li>
      <li><a href="/company/<%= company.id %>/projectlist?page=1"><i class="fa fa-search paddingRight"></i> search projects</a></li>
      <li><a href="/project/create/<%= company.id %>"><i class="fa fa-plus paddingRight"></i> add project</a></li>
    </ul>
    <p class="menu-label">members</p>
    <ul class="menu-list">
      <li><a href="/company/<%= company.id %>/members"><i class="fa fa-book paddingRight"></i> members</a></li>
      <li><a href="/company/<%= company.id %>/searchmembers"><i class="fa fa-search paddingRight"></i> search members</a></li>
    </ul>
    <p class="menu-label">settings</p>
    <ul class="menu-list">
      <li><a href="/company/settings/<%= company.id %>"><i class="fa fa-cog paddingRight"></i> prefrences</a></li>
    </ul>
  </aside>
  <% } else { %>
    <span class="icon-large"><i class="fa fa-lock"></i></span>
    <p class="padding">you are not a member of this company</p>
  <% } %>
</div>
