<div style="flex: 1">

  <% include ../../partials/companySidebar %>

  <div>

    <div class="notification is-info">
      <h2 class="title is-2"><%= company.name %></h2>
      <h4 class="subtitle">since <%= dateFormat(company.createdAt, 'mmmm dd yyyy') %></h4>
    </div>

    <div class="paddingLeft">
      <div class="childs-inline">

        <div>
          <h3 class="title is-3">Info</h3>
          <p><%= company.desc %></p>
        </div>

        <div>

          <h3 class="title is-3 ">Members</h3>

          <% if (company.members.length > 0) { %>
              <ul class="list">
              <% for (var i = 0; i < company.members.length; i++) { %>
                  <li class="list-item"><%= company.members[i].email %></li>
              <% } %>
              </ul>
          <% } else { %>
            <div class="notification">
              <p><i class="fa fa-cogs paddingRight"></i> you dont have members yet</p>
            </div>
          <% } %>
        </div>

      </div>
      <% if (req.userTitle !== 'guest') { %>
      <div class="fullwidth">
        <h3 class="title is-3">active projects</h3>
        <% if (activeProjects.length > 0) { %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>customer</th>
              <th>project</th>
              <th>deadline</th>
            </tr>
          </thead>
          <tbody>
          <% for (var i = 0; i < activeProjects.length; i++) { %>
            <% var rowCount = i + 1 %>
            <tr>
              <td><%= rowCount %></td>
              <td><a href="/customer/view/<%= company.id %>/<%= activeProjects[i].customer.id %>"><%= activeProjects[i].customer.name %></a></td>
              <td><a href="/project/view/<%= company.id %>/<%= activeProjects[i].customer.id %>/<%= activeProjects[i].id %>"><%= activeProjects[i].name %></a></td>
              <td><%= dateFormat(activeProjects[i].deadline, 'mmmm dd yyyy') %></td>
            </tr>
          <% } %>
          </tbody>
        </table>
        <% } %>
      </div>
      <% } %>
    </div>

  </div>
</div>
